[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[dn]
C = FR
ST = France
L = Paris
O = Infrastructure
OU = IT
CN = {{ nginx_server_name | default('localhost') }}

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ nginx_server_name | default('localhost') }}
IP.1 = {{ ansible_host }}
